<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdr.lib.isc">

    <application>
        <activity android:name=".HikvisionControlActivity"></activity>
        <activity android:name=".HikvisionMainActivity" />
    </application>

</manifest>